# Created by http://gitignore.io

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Linux ###
.*
!.gitignore
!.git*
*~


### SublimeText ###
# SublimeText project files
*.sublime-workspace

### CodeIgniter ###
*/config/database.php
*/logs/log-*.php
!*/logs/.htaccess
!*/logs/index.html
*/cache/*
!*/cache/.htaccess
!*/cache/index.html


### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### Bower ###
assets/bower
bower_components/


### Jekyll ###
_site/

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
build.properties


### Dreamweaver ###
_notes
*_notes/
dwsync.xml


### WordPress ###
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php


# Não versionar arquivo minificado
# Utilizar o grunt para compilar
assets/css/styles.css
assets/css/styles.min.css
assets/js/scripts.js
assets/js/scripts.min.js
