// Variables
// =======================================
$gradient-start:  #fff;
$gradient-finish: #aa4c3b;


// Body styles
// =======================================
body {
  background:                 #4b4b4d;
  padding-top:                $navbar-height;
  -webkit-font-smoothing:     antialiased;
  -webkit-overflow-scrolling: touch;
}


// Header definitions
// =======================================
header {
  .container {
    box-shadow:          0 0 2px rgba(0,0,0,.5);
    height:              300px;
    background-color:    transparent;
    background-image:    url(/assets/images/backgrounds/buildings.png), url(/assets/images/backgrounds/header.jpg);
    background-repeat:   no-repeat;
    background-position: center bottom, center center;
  }

  border-bottom: $gradient-finish;

  .services {
    margin-top: 50px;

    p {
      color:         #222;
      font-size:     28px;
      line-height:   .8;
      margin-bottom: 8px;
    }
  }
}


// Logo
// =======================================
.logo {
  display: block;
  width:   300px;
  height:  107px;
  margin:  50px 0;

  background: transparent
    url(/assets/images/logo/logo-black-lg.png)
    no-repeat
    center center;
}

.navbar {
  @extend .text-uppercase;
  border-bottom: 0;
  box-shadow:    0 1px 2px rgba(0,0,0,.5);

  .navbar-nav > li > a {
    @include transition(all .25s ease);
    color:       $gray;
    font-size:   15px;
    opacity:     .7;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);

    &:hover {
      opacity: 1;
    }
  }

  .fa {
    font-size: 18px;
  }

  .text-warning {
    color: #f58634;
  }
}

.navbar-right {
  padding-right: 30px;

  > li > a {
    padding-left:  20px;
    padding-right: 0;
  }
}

.navbar-brand {
  width:  160px;
  height: $navbar-height;

  background: transparent
    url(/assets/images/logo/logo-orange-sm.png)
    no-repeat
    center center;
}


// Bootstrap grid override
// =======================================
.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-md;
  }
}

.content {
  background-color: #3a3738;
  box-shadow:       0 2px 2px rgba(0,0,0,.5);
  min-height:       500px;
  padding:          30px;
  position:         relative;
  z-index:          1;
}

.panel-image {
  background-color: transparent;
  border:           0;
  position:         relative;

  .panel-image-preview {
    border-radius: 4px;
    width:         100%;
    height:        200px;
  }
}

.img-shadow {
  float:     left;
  max-width: 100%;
  position:  relative;

  &::before {
    box-shadow: inset 0 0 8px rgba(0,0,0,.6);
    content:    '';
    position:   absolute;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
  }

  img {
    float: left;
  }
}
