// Variables
// =======================================
$gradient-start:  #fff;
$gradient-finish: #aa4c3b;


// Body styles
// =======================================
body {
  background:                 #4b4b4d;
  padding-top:                $navbar-height;
  -webkit-font-smoothing:     antialiased;
  -webkit-overflow-scrolling: touch;
}


// Header definitions
// =======================================
header {
  .container {
    height:              300px;
    background-color:    transparent;
    background-image:    url(/assets/images/backgrounds/buildings.png), url(/assets/images/backgrounds/header.jpg);
    background-repeat:   no-repeat;
    background-position: center bottom, center center;
  }

  border-bottom: $gradient-finish;
}


// Logo
// =======================================
.logo {
  background: transparent
    url(/assets/images/logo/logo-black-lg.png)
    no-repeat
    center center;

  display: block;
  width:   300px;
  height:  107px;
  margin:  60px 10px;
}

.navbar {
  @extend .text-uppercase;
}

.navbar-brand {
  background: transparent
    url(/assets/images/logo/logo-orange-sm.png)
    no-repeat
    center center;

  width:   154px;
  height:  $navbar-height;
  padding: 15px 25px;
}


// Bootstrap grid override
// =======================================
.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-md;
  }
}
