@font-face {
  font-family: Futura;
  font-style:  normal;
  font-weight: normal;
  src: url(/assets/fonts/futura_bk_bt_book.eot);
  src: url(/assets/fonts/futura_bk_bt_book.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/futura_bk_bt_book.woff2) format('woff2'),
    url(/assets/fonts/futura_bk_bt_book.woff) format('woff'),
    url(/assets/fonts/futura_bk_bt_book.ttf) format('truetype');
}

@font-face {
  font-family: Futura;
  font-weight: normal;
  font-style:  normal;
  src: url(/assets/fonts/futura_md_bt_medium.eot);
  src: url(/assets/fonts/futura_md_bt_medium.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/futura_md_bt_medium.woff2) format('woff2'),
    url(/assets/fonts/futura_md_bt_medium.woff) format('woff'),
    url(/assets/fonts/futura_md_bt_medium.ttf) format('truetype');
}

body {
  font: 400 14px/1 Futura, sans-serif;
}
