@font-face {
  font-family: 'Futura Bk BT';
  font-style:  normal;
  font-weight: normal;
  src: url(/assets/fonts/futura_bk_bt_book.eot);
  src: url(/assets/fonts/futura_bk_bt_book.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/futura_bk_bt_book.woff2) format('woff2'),
    url(/assets/fonts/futura_bk_bt_book.woff) format('woff'),
    url(/assets/fonts/futura_bk_bt_book.ttf) format('truetype');
}

@font-face {
  font-family: 'Futura Md BT';
  font-weight: normal;
  font-style:  normal;
  src: url(/assets/fonts/futura_md_bt_medium.eot);
  src: url(/assets/fonts/futura_md_bt_medium.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/futura_md_bt_medium.woff2) format('woff2'),
    url(/assets/fonts/futura_md_bt_medium.woff) format('woff'),
    url(/assets/fonts/futura_md_bt_medium.ttf) format('truetype');
}

body {
  color: $gray;
  font:  400 14px/1.5 'Futura Bk BT', sans-serif;
}

h1 {
  margin:         60px 0;
  text-align:     center;
  display:        table;
  white-space:    nowrap;

  &:before,
  &:after {
    border-top: 1px solid darken($gray, 25%);
    content:    '';
    display:    table-cell;
    position:   relative;
    top:        .5em;
    width:      40%;
  }

  &:before { right: 1.5%; }
  &:after  { left:  1.5%; }
}
