@font-face {
  font-family: 'Futura Bk BT';
  font-style:  normal;
  font-weight: normal;
  src: url(/assets/fonts/futura_bk_bt_book.eot);
  src: url(/assets/fonts/futura_bk_bt_book.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/futura_bk_bt_book.woff2) format('woff2'),
    url(/assets/fonts/futura_bk_bt_book.woff) format('woff'),
    url(/assets/fonts/futura_bk_bt_book.ttf) format('truetype');
}

@font-face {
  font-family: 'Futura Md BT';
  font-weight: normal;
  font-style:  normal;
  src: url(/assets/fonts/futura_md_bt_medium.eot);
  src: url(/assets/fonts/futura_md_bt_medium.eot?#iefix) format('embedded-opentype'),
    url(/assets/fonts/futura_md_bt_medium.woff2) format('woff2'),
    url(/assets/fonts/futura_md_bt_medium.woff) format('woff'),
    url(/assets/fonts/futura_md_bt_medium.ttf) format('truetype');
}

body {
  color:          $gray;
  font:           400 16px/1.3 'Futura Bk BT', sans-serif;
  letter-spacing: -0.1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:       #fff;
  font-family: 'Futura Bk BT';
}

h2 {
  font-size:     26px;
  line-height:   0.8;
  margin-top:    0;
  margin-bottom: 20px;
}

p {
  margin: 0 0 20px;
}
