@mixin radial-gradient($start, $finish, $offset-x, $offset-y) {
  background: $start;
  background: -webkit-radial-gradient($offset-x $offset-y, ellipse cover, $start 0%, $finish 65%);
  background:    -moz-radial-gradient($offset-x $offset-y, ellipse cover, $start 0%, $finish 65%);
  background:     -ms-radial-gradient($offset-x $offset-y, ellipse cover, $start 0%, $finish 65%);
  background:      -o-radial-gradient($offset-x $offset-y, ellipse cover, $start 0%, $finish 65%);
  background:         radial-gradient($offset-x $offset-y, ellipse cover, $start 0%, $finish 65%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$finish', GradientType=1);
}
