/* Layout
-------------------------------------------------- */
body {
  background: #1b1b1b;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

header {
  height: 303px;
  background: url(../../images/backgrounds/header.png) no-repeat top center;
  padding: 40px 0;
}
