.form-control {
  border-radius: 2px;
  background:    rgba(0,0,0,0.25);
  border:        1px solid #333;
  font-size:     18px;
  height:        50px;
  margin-bottom: 20px;
}

.btn {
  border-radius:  2px;
  font-size:      20px;
  font-weight:    400px;
  text-transform: uppercase;

  i {
    margin-right: 10px;
  }
}
