// Body styles
// =======================================
html {
  position:   relative;
  min-height: 100%;
}

body {
  background:                 #111;
  padding-top:                $navbar-height;
  margin-bottom:              $footer-height;
  -webkit-font-smoothing:     antialiased;
  -webkit-overflow-scrolling: touch;
}

b {
  color: #fff;
}

// Header definitions
// =======================================
header {
  border-bottom: $gradient-finish;

  .container {
    background: transparent
      url(/assets/images/dist/backgrounds/header.jpg)
      no-repeat
      center
      bottom;

    background-size: cover;
    box-shadow:      0 15px 0 $brand-warning, 0 18px 0 #fff;
    height:          $header-height;
    margin-bottom:   $box-shadow-height;
  }

  .services {
    margin-top:   72px;
    padding-left: 8px;

    a {
      color:       #fff;
      display:     block;
      font-size:   30px;
      line-height: 1.3;
      margin:      0;

      &:hover,
      &:focus,
      &:active,
      &:visited {
        text-decoration: none;
      }
    }
  }
}

// Lists
// =======================================
ul {
  list-style: none;
  padding:    0;
  margin:     0;
}

.list-services li {
  padding-left: 1em;
  text-indent:  -0.7em;
}

.list-services li:before {
  color:          $brand-warning;
  content:        '•';
  margin-right:   7px;
  vertical-align: middle;
}

.content.contato {
  padding-top: 35px;
}

// Footer
// =======================================
.footer {
  background-color: #111;
  font-size:        14px;
  line-height:      1.4;
  text-align:       center;
  width:            100%;
  height:           $footer-height;
  position:         absolute;
  bottom:           0;

  .first-line {
    font-size:      15px;
    letter-spacing: 1px;
  }

  a {
    color: #bdbdbd;
  }

  .container {
    background-color: #161616;
    box-shadow:       0 2px 3px rgba(0,0,0,.5);
    padding:          0 30px;
  }

  .footer-content {
    border-top: 3px solid #221f1f;
    padding:    20px;
  }
}

.processos img {
  margin-bottom: 60px;
}

.flex {
  display: flex;
  justify-content: space-around;

  div {
    margin: 15px;
  }

  .grid-image {
    @media (min-width: 992px) {
      height: 360px;
    }

    @media (min-width: 768px) and (max-width: 991px) {

    }

    @media (min-width: 480px) and (max-width: 767px) {

    }

    @media (max-width: 479px) {

    }
  }
}

.block {
  display: block;
}

// Logo
// =======================================
.logo {
  display: block;
  width:   366px;
  height:  128px;
  margin:  44px 0;

  background: transparent
    url(/assets/images/dist/logo/logo-md.png)
    no-repeat
    center center;
}

hr {
  border:        0;
  border-top:    3px solid #221f1f;
  margin-top:    20px;
  margin-bottom: 20px;
  width:         calc(100% - 25px);
}

.content {
  @include gradient-vertical-three-colors(#090909, #161616, 50%, #161616);
  box-shadow:     0 2px 3px rgba(0,0,0,.5);
  min-height:     calc(100vh - #{$footer-height} - #{$navbar-height} - #{$header-height} - #{$box-shadow-height});
  padding:        15px;
  padding-top:    20px;
  padding-bottom: 30px;
}

.panel-image {
  background-color: transparent;
  border:           0;
  position:         relative;

  .panel-image-preview {
    border-radius: 4px;
    width:         100%;
    height:        200px;
  }
}

.img-shadow {
  float:     left;
  max-width: 100%;
  position:  relative;

  &::before {
    box-shadow: inset 0 0 8px rgba(0,0,0,.6);
    content:    '';
    position:   absolute;
    top:        0;
    bottom:     0;
    left:       0;
    right:      0;
  }

  img {
    float: left;
  }
}

// Icons
// =======================================
.icon-design,
.icon-press {
  display:        inline-block;
  width:          32px;
  height:         32px;
  vertical-align: top;
}

.icon-design {
  background: url(/assets/images/dist/icons/icon-design.png) no-repeat center center;
  background-size: cover;
}

.icon-press {
  background: url(/assets/images/dist/icons/icon-press.png) no-repeat center center;
  background-size: cover;
}

// Bootstrap overrides
@include text-emphasis-variant('.text-warning', $brand-warning);
